# MongoDB Atlas / Local Connection URL
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
DB_NAME=attendance_system

# Admin Dashboard Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Security Secret
JWT_SECRET=your-secret-jwt-key-here
